version: "3.9"
services:
  app:
    build: ./build/php
    volumes:
      - ./src:/data
  web:
#    image: nginx:1.20-alpine
    build: ./build/nginx
    ports:
      - 8080:80
    volumes:
      - ./src:/data
      - ./build/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /data
  db:
    build: ./build/mysql
    ports:
      - 3306:3306
    volumes:
      - db-store:/var/lib/mysql

volumes:
  db-store: